{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Flask</h1>
    <p class="lead">Flask is a free web framework for building great Web sites and Web applications using HTML, CSS and
        JavaScript.</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<!-- Single carousel for mobile view  -->
<div class="row hide-on-med-and-up">
    <div class="col-md-12">
        <div class="carousel carousel-slider">
            <a id="btn-left-mob" class="btn-floating btn-large waves-effect waves-light red"><i
                    class="material-icons">chevron_left</i></a>
            <div class="carousel-item">
                <div class="card">
                    <div class="card-image">
                        <img
                            src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/molten-cheese-stuffed-burgers-538adf8.jpg">
                        <span class="card-title">Recipe Title</span>
                    </div>
                    <div class="card-content">
                        <p>Recipe Description</p>
                    </div>
                    <div class="card-action">
                        <a href="#">View full recipe herek</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <div class="card-image">
                        <img
                            src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/molten-cheese-stuffed-burgers-538adf8.jpg">
                        <span class="card-title">Recipe Title</span>
                    </div>
                    <div class="card-content">
                        <p>Recipe Description</p>
                    </div>
                    <div class="card-action">
                        <a href="#">View full recipe herek</a>
                    </div>
                </div>
            </div>
            <a id="btn-right-mob" class="btn-floating btn-large waves-effect waves-light red"><i
                    class="material-icons">chevron_right</i></a>
        </div>
    </div>
</div>

<div class="row show-on-medium-and-up">
    <div class="col-md-12">

        <div class="carousel carousel-slider">
            <a id="btn-left" class="btn-floating btn-large waves-effect waves-light red"><i
                    class="material-icons">chevron_left</i></a>
            <div class="carousel-item">
                <div class="row">
                    <div class="col m3">


                        <div class="card">
                            <div class="card-image">
                                <img
                                    src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/molten-cheese-stuffed-burgers-538adf8.jpg">
                                <span class="card-title">Recipe Title</span>
                            </div>
                            <div class="card-content">
                                <p>Recipe Description</p>
                            </div>
                            <div class="card-action">
                                <a href="#">View full recipe herek</a>
                            </div>
                        </div>
                    </div>
                    <div class="col m3">


                        <div class="card">
                            <div class="card-image">
                                <img
                                    src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/molten-cheese-stuffed-burgers-538adf8.jpg">
                                <span class="card-title">Recipe Title</span>
                            </div>
                            <div class="card-content">
                                <p>Recipe Description</p>
                            </div>
                            <div class="card-action">
                                <a href="#">View full recipe herek</a>
                            </div>
                        </div>
                    </div>
                    <div class="col m3">


                        <div class="card">
                            <div class="card-image">
                                <img
                                    src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/molten-cheese-stuffed-burgers-538adf8.jpg">
                                <span class="card-title">Recipe Title</span>
                            </div>
                            <div class="card-content">
                                <p>Recipe Description</p>
                            </div>
                            <div class="card-action">
                                <a href="#">View full recipe herek</a>
                            </div>
                        </div>
                    </div>
                    <div class="col m3">


                        <div class="card">
                            <div class="card-image">
                                <img
                                    src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/molten-cheese-stuffed-burgers-538adf8.jpg">
                                <span class="card-title">Recipe Title</span>
                            </div>
                            <div class="card-content">
                                <p>Recipe Description</p>
                            </div>
                            <div class="card-action">
                                <a href="#">View full recipe herek</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row">
                    <div class="col m3">


                        <div class="card">
                            <div class="card-image">
                                <img
                                    src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/molten-cheese-stuffed-burgers-538adf8.jpg">
                                <span class="card-title">Recipe Title</span>
                            </div>
                            <div class="card-content">
                                <p>Recipe Description</p>
                            </div>
                            <div class="card-action">
                                <a href="#">View full recipe herek</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row">
                    <div class="col m3">


                        <div class="card">
                            <div class="card-image">
                                <img
                                    src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/molten-cheese-stuffed-burgers-538adf8.jpg">
                                <span class="card-title">Recipe Title</span>
                            </div>
                            <div class="card-content">
                                <p>Recipe Description</p>
                            </div>
                            <div class="card-action">
                                <a href="#">View full recipe herek</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a id="btn-right" class="btn-floating btn-large waves-effect waves-light red"><i
                    class="material-icons">chevron_right</i></a>
        </div>
    </div>
</div>


<div class="row">


    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Flask gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application
            using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}