{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Recipe for Disaster</h1>
    <div class="row">
        <div class="col s2 ofset-s10">
            <a href="/recipe/random" class="btn blue">Random recipe</a>
        </div>
    </div>
</div>

<!-- Single carousel for mobile view  -->
<div class="row hide-on-med-and-up">
    <div class="col-s-12">

        <div id="carousel-mob" class="carousel carousel-slider">
            {% for cat in recipes %}
            <!-- Above loop iterates through array of categories -->
            <div class="carousel-item">
                {% for rec in cat %}
                <div class="row">
                    <!-- Then iterates through each category to produce multiple cards filled with Recipe details -->
                    <div class="col s12">
                        <!-- Includes card template from recipecard.html -->
                        {% include 'recipecard.html' %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<!-- Single carousel for tablet view  -->
<div class="row hide-on-small-only hide-on-large-only">
    <div class="col-s-12">
        <div id="carousel-tab" class="carousel carousel-slider">
            {% for cat in recipes %}
            <!-- Above loop iterates through array of categories -->
            <div class="carousel-item">
                {% for rec in cat %}
                {% if loop.index == 1 or loop.index == 3 %}
                <div class="row">
                    {% endif %}
                    <!-- Then iterates through each category to produce multiple cards filled with Recipe details -->
                    <div class="col s6">
                        <!-- Includes card template from recipecard.html -->
                        {% include 'recipecard.html' %}

                    </div>

                    {% if loop.index == 2 or loop.index == 4 %}
                </div>

                {% endif %}

                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<!-- Desktop Carousel -->
<div class="row hide-on-med-and-down">
    <div class="col-md-12">

        <div class="carousel carousel-slider">
            <a id="btn-left" class="btn-floating btn-large waves-effect waves-light red"><i
                    class="material-icons">chevron_left</i></a>
            {% for cat in recipes %}
            <!-- Above loop iterates through array of categories -->
            <div class="carousel-item">
                <div class="row">
                    {% for rec in cat %}
                    <!-- Then iterates through each category to produce multiple cards filled with Recipe details -->
                    <div class="col m3">
                        <!-- Includes card template from recipecard.html -->
                        {% include 'recipecard.html' %}

                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <a id="btn-right" class="btn-floating btn-large waves-effect waves-light red"><i
                    class="material-icons">chevron_right</i></a>
        </div>
    </div>
</div>


<div class="row">


    <div class="col-md-4">
        
    </div>
</div>

{% endblock %}