{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Flask</h1>
    <p class="lead">Flask is a free web framework for building great Web sites and Web applications using HTML, CSS and
        JavaScript.</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<!-- Single carousel for mobile view  -->
<div class="row hide-on-med-and-up">
    <div class="col-s-12">

        <div id="carousel-mob" class="carousel carousel-slider">
            <a id="btn-left-mob" class="btn-floating btn-large waves-effect waves-light red"><i
                    class="material-icons">chevron_left</i></a>
            {% for cat in recipes %}
            <!-- Above loop iterates through array of categories -->
            <div class="carousel-item">
                {% for rec in cat %}
                <div class="row">

                    <!-- Then iterates through each category to produce multiple cards filled with Recipe details -->
                    <div class="col s12">
                        {% include 'recipecard.html' %}

                    </div>
                </div>

                {% endfor %}
            </div>
            {% endfor %}

            <a id="btn-right-mob" class="btn-floating btn-large waves-effect waves-light red"><i
                    class="material-icons">chevron_right</i></a>
        </div>
    </div>
</div>


<!-- Single carousel for tablet view  -->
<div class="row hide-on-small-only hide-on-large-only">
    <div class="col-s-12">

        <div id="carousel-tab" class="carousel carousel-slider">
            <a id="btn-left-mob" class="btn-floating btn-large waves-effect waves-light red"><i
                    class="material-icons">chevron_left</i></a>
            {% for cat in recipes %}
            <!-- Above loop iterates through array of categories -->
            <div class="carousel-item">
                {% for rec in cat %}
                {% if loop.index == 1 or loop.index == 3 %}
                <div class="row">
                    {% endif %}



                    <!-- Then iterates through each category to produce multiple cards filled with Recipe details -->
                    <div class="col s6">
                        {% include 'recipecard.html' %}

                    </div>

                    {% if loop.index == 2 or loop.index == 4 %}
                </div>

                {% endif %}

                {% endfor %}
            </div>
            {% endfor %}

            <a id="btn-right-mob" class="btn-floating btn-large waves-effect waves-light red"><i
                    class="material-icons">chevron_right</i></a>
        </div>
    </div>
</div>


<!-- Desktop Carousel -->

<div class="row hide-on-med-and-down">
    <div class="col-md-12">

        <div class="carousel carousel-slider">
            <a id="btn-left" class="btn-floating btn-large waves-effect waves-light red"><i
                    class="material-icons">chevron_left</i></a>
            {% for cat in recipes %}
            <!-- Above loop iterates through array of categories -->
            <div class="carousel-item">
                <div class="row">
                    {% for rec in cat %}
                    <!-- Then iterates through each category to produce multiple cards filled with Recipe details -->
                    <div class="col m3">
                        {% include 'recipecard.html' %}

                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}

            <a id="btn-right" class="btn-floating btn-large waves-effect waves-light red"><i
                    class="material-icons">chevron_right</i></a>
        </div>
    </div>
</div>


<div class="row">


    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Flask gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application
            using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}