{% extends "layout.html" %}

{% block content %}


<div class="row">
    <div class="col l3">
        <img class="recipe-img" src="{{ recipe.Image}}" alt="{{ recipe.Name }}">
    </div>
    <div class="col l6">
        <h2>{{ recipe.Name }}</h2>
        <p>{{ recipe.Description }}</p>
        <p>{{ time }}</p>
    </div>
    <div class="col l3">
        
        
    </div>
</div>
<div class="row">
    <div class="col l3">
        <ul class="ingred-list">
            {% for ingredient in recipe.Ingredients %}
                <li>{{ ingredient }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col l6">
        <ol class="recipe-steps" >
            {% for step in recipe.Steps %}
                <li>{{ step }}</li>
            {% endfor %}
        </ol>
    </div>
    <div class="col l3">
        <a href="/recipe/{{ recipe._id }}/edit" class="btn green">Edit Recipe</a>
        <a href="/recipe/{{ recipe._id }}/delete" class="btn red">Delete Recipe</a>
    </div>
</div>

{% endblock %}